@import "tailwindcss";

/* Light theme */
:root {
  --background: 255 255 255;
  --foreground: 23 23 23;
}

/* Dark theme (class strategy) */
.dark {
  --background: 23 23 23;
  --foreground: 255 255 255;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  min-height: 100vh;
}